{% extends "secondary_site.html" %}

{% load election_tags %}

{% block title %}Validate your identity{% endblock %}

{% block content %}

<h2>{{ election.name }}</h2>

<p>Before we create your <!--secret-->ballot, we need to verify your identity.</p>

<form method="POST" action=".">
    {% csrf_token %}
    {{ form.value.errors }}
    <label>
        {{ validation_text|safe }} {{ validate_against|safe }}
    </label>
    {{ form.value }}<br>
    <input type="submit" value="Validate my identity"/>
</form>
<br>
<table width="100%" border="1" cellspacing="0" cellpadding="2">
    <tr>
        <td bgcolor="#FFFFCC">
            <blockquote>
                <h3>If you are unsure what to enter, please call 877-324-7655 and leave a message. Your call will be returned promptly.</p>
            </blockquote>
        </td>
    </tr>
</table>
{% endblock %}