{% extends "secondary_site.html" %}
{% load i18n %}

{% block title %}Verify your vote{% endblock %}

{% block content %}
<h2>Verify your vote</h2>

<p>Please enter the confirmation code you received after voting. For voter privacy, we have no record of what your code
	is and it can not be looked up if you lost it.</p>

<form class="clean_form" method="post" action="">
	<div class="clear margin-t-10px">
		<div class="login-pin text-color3 ">
			<div></div>
			<div class="pull-left input-info-icon text-left">
				<div class="text-uppercase bold text-left">Vote</div>
				<div class="vote"></div>
			</div>
			<div class="pull-left input-information text-left">
				<div class="bold">Enter Your Pin:</div>
				{{ form }} <input type="submit" class="btn1 bold " value="{% trans " Lookup Vote" %}">
			</div>
		</div>
	</div>
	<div><br></div>
</form>
	
{% endblock %}

