{% extends "votepage_site.html" %}
{% load i18n %}
{% load election_tags %}

{% block title %}{% trans "Confirmation" %}{% endblock %}

{% block content %}
	<!--<img style="float:right;" src="{{ MEDIA_URL }}images/BandJ.jpeg">-->
	<h2>{% trans "Confirmation" %}</h2>
	<p>If you wish to verify your vote in the future your confirmation number is:
	<b>{{ vote.confirmation }}</b></p>
	<p><b>You must record this number now!</b> To protect your identity, we will not have a way to look this
		information up in the future.</p>
	<hr/>
    <span style="font-size: 16px">
	<h3>Ballot was recorded as:</h3>
	
	{% for question in questions %}
	    <h3>{{ question }}</h3>
	    
	    <ul>
	    {% for answer in ballot|hash:question.id|hash:"answer_eng" %}
	        <li>{{ answer }}</li>
	    {% empty %}
	        <li><em>No answer provided</em></li>
	    {% endfor %}
	    </ul>
	{% endfor %}
    <hr/>
	<p>If you wish to verify your vote in the future your confirmation number is:
		<b>{{ vote.confirmation }}</b></p>
	<p><b>You must record this number now!</b> To protect your identity, we will not have a way to look this
		information up in the future.</p>

	<p>Do not share your confirmation number.</p>
	<!---->
	<form action="http://www.merrimanriver.com/">
    	<input style="font-size:18px;" type="submit" id="mysubmit" value="Finish">			
    </form>
    
	<!-- <p>Thank you for voting on-line. Now, you have the choice to receive future election information by email. Just click on the "Go Paperless" button. If you prefer to continue receiving information by regular mail, click on the "No Thanks" button. Either choice will exit you from our secure voting server, so if you receive a pop-up notification that you are leaving a secure site, that is normal and correct. Mahalo.</p>
	
    </span>

	 <table width="560" align="Left" border="0">
	    <tr>
	        <td width="33%" align="center" valign="middle">
	        <style type="text/css" rel="stylesheet">#mysubmit { background-color: #cfc; font-size: 60; padding: 20px; font-weight: bold; } </style>
				<form action="http://paperless.merrimanriver.com/kiuc/register/register.php">
            		    <p><input type="submit" id="mysubmit" value="Go Paperless"></p>
            		    <input type="image" src="{{ MEDIA_URL }}images/KIUCpaperless.jpg" width="175">
            	</form>
	        </td>
	        <style type="text/css" rel="stylesheet">#myCancel { background-color: #cfc; font-size: 60; padding: 20px; font-weight: bold; } </style>
	        <td align="center" width="33%">OR</td>
	        <td align="center" width="33%" align="center" valign="middle">
    			<form action="http://www.kiuc.coop/">
    			<input type="submit" id="mysubmit" value="No Thanks">
    					<input type="image" src="{{ MEDIA_URL }}images/NoThanks.jpg" Width="175">
    			</form>
	        </td>
	    </tr>
	</table> -->
	<p>	</p>
	<p>	</p>
	<p>	</p>
	<p>	</p>
	<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/jzMcTdiZt_Y?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>-->
    <br><font size="-2">(When you click &quot;No Thanks&quot; you will get a popup message that you are leaving our secure site; this is normal and correct.)</font>
{% endblock %}