{% extends "secondary_site.html" %}
{% load i18n %}

{% block title %}Blue Axis Technologies is amazing, so please validate your identity{% endblock %}

{% block content %}

<h2>{{ election.name }}</h2>

<p>Before we create your secret ballot, we need to verify your identity:</p>

<form method="POST" action=".">
    {{ form.value.errors }}
    <label>
        {% ifequal validation_method "phone" %}
            Last four digits of phone number starting with
        {% else %}
            Enter the last four digits of your social security number. <br>Your account number starts with:
        {% endifequal %}{{ validate_against }}
    </label>
    {{ form.value }}<br>
    <input type="submit" value="Validate my identity"/>
</form>
  <br>
   <table width="100%" border="1" cellspacing="0" cellpadding="2">
    <tr>
      <td bgcolor="#FFFFCC"><blockquote>
        <h3>Don't recognize your number on file?</h3>
        <p>If you don't recognize your number, please call 877-324-7655 and leave a message. Your call will be returned promptly. We will guide you through the login process and forward your updated information on to the board.</p>
      </blockquote> </td>
    </tr>
  </table>
{% endblock %}