<H2>DC Police Union voting is open on Tuesday, January 12, from 6:00 am to 4:00 pm</h2>

<!--<p>Welcome to the online voting system. You may cast your private, anonymous vote online instead of by mail. You may only vote once, and if you vote online and also by mail, only your online vote will count and your mail ballot will be voided.
Ready to begin?
</p>

<p>Please enter your CAD number.</p>
-->
<p>Welcome to the online voting system. You may cast your private, anonymous vote online. Once your vote is cast, our system does not retain a record of HOW you voted, just that your vote was cast. <b>
If you prefer to vote in person, you may do so from 6:00 am to 4:00 pm at any of the seven precincts, Headquarters, or the Training Academy.</b> <br>You may only vote once.
</p><p>If you vote online and also in person, only your online vote will count, and the envelope containing your paper ballot will be voided.
</p> <!--<p>Ready to begin?</p>-->

<p>If you cannot locate your CAD number and wish to vote via internet, you must call 877-324-7655.</p>
